body {
  background-color: pink;
}

.navbar {
  background-color: #80deea !important;
}

.nav-link {
  color: #880e4f !important;

  font-weight: bold;

  margin-top: 10px;
  font-size: 25px;
  margin-left: 30px;

  font-family: cursive;
}

.nav-link:hover {
  background-color: #880e4f;
  border-radius: 10px;
  color: #fff !important;
}

.tagLine {
  background-color: #e3f2fd;
  padding: 20px 0px;
  font-size: 2em;
  border: 2px solid #880e4f;
}

.fa-user-circle,
.fa-cutlery {
  font-size: 32px !important;
}

.fa-truck,
.fa-headphones,
.fa-thumbs-up {
  font-size: 50px !important;
  margin-right: 10px;
  color: #3f51b5 !important;
  background-color: #ccff90;
}

.card1,
.card2,
.card3 {
  display: flex;
  width: 300px;
  height: 100px;
  background-color: #ccff90;
  box-shadow: 2px 4px 5px grey;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 4px solid #2e7d32;
}

.mainCard {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

h3 {
  color: #3f51b5;
}

.breakFast,
.riceBowl,
.chicken,
.crezyBeef,
.burger,
.cake,
.juice,
.featuredProducts {
  margin-top: 50px;
}


.card{
    width: 250px;
    height: auto !important;
    margin-bottom: 15px;
    margin-top: 20px;
    box-shadow: 5px #333333;

}

.card:hover{
    box-shadow: 10px 10px 30px #333333;

.card {
  width: 250px;
  height: auto !important;
  border-radius: 10px;
  margin-bottom: 40px;

}

.card:hover {
  box-shadow: 0 0 3px 5px rgba(73, 80, 87, 0.5);
}

.card-text {
  font-weight: bold;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  margin-bottom: 40px;
  height: 150px;
  width: 250px;
}

/* .card-img-top:hover {
  box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
} */

.btn-primary {
  width: 100%;
  background-color: #3f51b5;
  border-radius: 5px;
}

.heading {
  padding: 10px;
  text-align: center;
  font-size: bold;
  background-color: #80deea;
  color: #4a148c;
  margin: 40px;
  border: 4px solid #4a148c;
}

.design {
  padding: 20px 40px;
  font-style: italic;
  text-align: center;
  background-color: #80deea;
  color: #880e4f;
}

.heading > h1 {
  text-shadow: 1px 1px 3px black;
}

.footer {
  padding: 30px 20px;
  width: 100%;
  background-color: #80deea;
  height: 120px;
}

.footer > div {
  text-align: center !important;
  align-items: center;
}

h4 {
  color: #fff;
}

/* code addition */

#about{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(images/cafe.jpg) !important;
    background-size:cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding:20px;
    margin: 20px;
}

#about h1{
    text-align: center;
}

#about h1::after{
    content:"";
    background: #efefef;
    height: 3px;
    width: 300px;
    margin: 20px autp 5px;
}

#contact .fa{
    padding:10px;
}